@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Final Exam Entertainers Agency</h1>
    <h6>Book the next Entertainer that will "Get the people Going!"</h6>
    <a class="btn btn-primary" asp-action="Entertainers">View Entertainers</a><br />
    <img src="~/homeimage.jpg" />"
</div>
